@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600&display=swap');


@import "tailwindcss";



* {
    box-sizing: border-box;
}


html,
body {
    font-family: 'DM Sans', system-ui, sans-serif;

}

/* 5. Base layer overrides & improvements */
@layer base {
    body {
        @apply antialiased;
        line-height: 1.5;

        /* or 1.6–1.7 for even better readability with Open Sans */
    }


}